body {
    margin: 0;
    padding: 0;
    background-color: #eee;
    font-family: 'DM Sans', sans-serif;
}
h1{
    font-size: 4em;
    text-align: center;
}
#top {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
}
#curtain1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(50vh - 240px / 2);
    background-color: yellow;
}
#curtain2{
    position: absolute;
    top: calc(50vh + 240px / 2);
    left: 0;
    width: 100%;
    height:calc(50vh - 240px / 2);
    background-color: yellow;
}

#top > div{
    font-size: 10vw;
    animation:anime1;
    animation-fill-mode: forwards;
}
#top > div:nth-child(2n){
    transform: translateY(100%);
}
#top > div:nth-child(2n+1){
    transform: translateY(-100%);
}

#top > div:nth-child(1){
    animation-delay: 100ms;
    animation-duration: 800ms;
}
#top > div:nth-child(2){
    animation-delay: 200ms;
    animation-duration: 700ms;
}
#top > div:nth-child(3){
    animation-delay: 300ms;
    animation-duration: 600ms;
}
#top > div:nth-child(4){
    animation-delay: 400ms;
    animation-duration: 500ms;
}
#top > div:nth-child(5){
    animation-delay: 500ms;
    animation-duration: 400ms;
}
#top > div:nth-child(6){
    animation-delay: 600ms;
    animation-duration: 300ms;
}

@keyframes anime1{
    to{
        transform: translateY(0);
    }
}


.icon{
    width:250px;
    height: 250px;
    border-radius: 50%;
    transition-duration: 300ms;
    border: 8px solid orange;
    box-sizing: border-box;
}
.work-img{
    width:250px;
    height: 250px;
    border-radius: 50%;
    transition-duration: 300ms;
}
.icon:hover,.work-img.link:hover{
    opacity: 0.7;
}

.member,.work{
    margin: 0 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
} 
.member-name{
    text-align: center;
}
.member-name p{
    width:min(600px,90vw);
}
.member-name h2,.work-name h2{
    text-align: center;
    font-size:2em ;
    margin-bottom: 0;
}
.work-name .subtitle{
    text-align: center;
    margin:0;
}
.work-name p{
    width: 300px;
}

.icon-dev{
    margin: 0 24px;
}
.social-icon{
    width:64px;
}


.margin-bottom{
    margin-bottom: 100px;
}

.flex{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}
.none{
    display: none;
}

